body {
  font-family: Arial;
  margin: 0;
  background: white;
}

.navbar {
  display: flex;
  list-style: none;
  background: #111827;
  padding: 15px;
  margin: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover {
  color: blue;
}

.container {
  padding: 20px;
  max-width: 900px;
  margin: 20px auto;
  background: white;
}
