body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #f4f6f8;
}

.navbar {
  list-style: none;
  display: flex;
  background-color: #111827;
  padding: 15px;
  margin: 0;
}

.navbar li {
  margin-right: 20px;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar a:hover {
  color: #38bdf8;
}

.container {
  padding: 30px;
  max-width: 900px;
  margin: auto;
  background: white;
  margin-top: 20px;
  border-radius: 10px;
}
